<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="Get the most out of GoodData with our resources - eBooks, analyst reports, success stories, tutorials, best practices, webinars.">
    <meta property="og:image" content={{ metaOgImage }}>
    <meta property="og:description" content="Get the most out of GoodData with our resources - eBooks, analyst reports, success stories, tutorials, best practices, webinars.">
    <meta property="og:title" content="Resources">
    <meta property="og:url" content="https://www.gooddata.com/resources/">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container d-flex justify-content-between">
                <div class="navbar-brand">
                    <a href="/">
                        <img src="images/gd-logo.svg" alt="GoodData" class="navbar-logo navbar-logo__default" width="182" height="40"/>
                    </a>
                </div>
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item nav-item__has-submenu"><a class="p-2 text-dark" href="#">Product</a></li>
                    <li class="nav-item nav-item__has-submenu"><a class="p-2 text-dark" href="#">Solutions</a></li>
                    <li class="nav-item nav-item__has-submenu"><a class="p-2 text-dark" href="#">Pricing</a></li>
                    <li class="nav-item nav-item__has-submenu"><a class="p-2 text-dark" href="#">Resources</a></li>
                    <li class="nav-item nav-item__has-submenu"><a class="p-2 text-dark" href="#">Company</a></li>
                </ul>
                <div class="c-login d-flex">
                    <div class="nav-login-cta">
                        <a href="/request-a-demo/" id="main-menu-request-a-demo" class="btn btn-flat c-btn-primary">Get a demo</a>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteHeader" aria-controls="siteHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <ul class="breadcrumb">
           <li><a href="#" class="">Resources</a></li>
           <li><a href="#"></a>tags</li>
           <li><a href="#"></a>Daas</li>
        </ul>
        <section class="c-section__hero pt-0 pb-5 pb-md-0 c-section__bg-mist-gray c-search__wrap">
            <h2>E-BOOK</h2>
            <h1>{{ title }}</h1>

        </section>
    </header>
    <main>
        {{ content | safe }}

        <section class="c-section__default_condensed-mobile c-section__bg-mist-gray">
            <div class="container">
                <div class="text-center">
                    <h2 class="c-h2">Does GoodData look like the better&nbsp;fit?</h2>
                    <p class="c-p__huge">Get a demo now and see for yourself. It’s commitment-free.</p>
                    <div class="c-ctas-wrap c-ctas-wrap__in-row justify-content-center mt-5_5">
                        <div class="c-cta d-inline-block">
                            <a href="#" class="btn c-cta__link c-btn-primary" id="resource-detail-bumper-request-a-demo" data-bs-toggle="modal" data-bs-target="#modalDemo" role="button">Get a demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="c-section c-section__bg-mist-gray pb-5 pb-md-8">
            <div class="container">
                <p class="c-p text-center mb-0">Trusted by</p>
                <section id="sponsors"><div class="row c-logos__customers-generic one-line-mobile justify-content-center">
                    <div class="col d-flex align-items-center justify-content-center"><a href="/" class="d-flex align-items-center justify-content-center"><img src="images/zalando-logo.svg" alt="Zalando" class="mw-100" loading="lazy" width="136" height="50"></a></div>
                    <div class="col d-flex align-items-center justify-content-center"><a href="/" class="d-flex align-items-center justify-content-center"><img src="images/freshworks.svg" alt="Freshworks" class="mw-100" loading="lazy" width="151" height="50"></a></div>
                    <div class="col d-flex align-items-center justify-content-center"><a href="/" class="d-flex align-items-center justify-content-center"><img src="images/visa-logo.svg" alt="Visa" class="mw-100" loading="lazy" width="73" height="50"></a></div>
                    <div class="col d-flex align-items-center justify-content-center"><a href="/" class="d-flex align-items-center justify-content-center"><img src="images/doubleverify.svg" alt="Double Verify" class="mw-100" loading="lazy" width="170" height="50"></a></div>
                    <div class="col d-flex align-items-center justify-content-center"><a href="/" class="d-flex align-items-center justify-content-center"><img src="images/calpine.svg" alt="Calpine" class="mw-100" loading="lazy" width="131" height="50"></a></div>
                </div>
                </section>
            </div>
        </section>
    </main>
</body>
</html>
