$font-family-base: 'Foundry Unie', Arial;
$font-family-secondary: 'GoodData Sans', Arial;
$font-weight-base: 400;

$default-text: #1C0D3F;
$primary-text: #ED26B7;
$secondary-text: #fff;

$primary-bg: #ED26B7;
$primary-bg-hover: #cf119b;
$secondary-bg: #F2F4F6;
$terciary-bg: #DFE4E8;

$border-default: #BFC9D1;
$border-secondary: #BFC9D1;
